.item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: start;
    gap: 2em;
    padding: .5em;
    border-bottom: 1px solid var(--lumo-shade-10pct);   
}

.title {
    flex-basis: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date,
.amount {
    text-align: right;
}

.category,
.amount {
    flex-basis: 15%;
}

.placeholder {
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
